.bookHeader {
  width: 100%;
  text-align: start;
  padding-bottom: .3rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #b6b6b6;
}

.bookTitle {
  font-size: 2.5rem;
  margin: 0 0 0.2rem 0;
}

.bookSubtitle {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
  color: #3b3b3b;
}

.sectionTitle {
  font-size: 1.5rem;
  text-align: start;
}

.bookContent {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 3rem;
}

.leftBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.infoTable,
.bookDescription {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.infoTable tbody {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
}

.infoTable tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  column-gap: auto;
}

.bookDescription p {
  margin: 0;
  text-align: justify;
  line-height: 1.5;
}

.actionMenu {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  align-items: center;
}

.actionMenu button{
  font-size: 1.1rem;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
}

.actionMenu button:hover{
  background-color: rgb(87, 244, 255);
  color: white;
}

.saveBookButton:hover{
  border: 5px solid #3b3b3b;
}

.rightBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightBox img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}